*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 12px;
}

body{ background-color: lightgray;
    line-height: 1rem;
    display: flex;
    height: 100%; 
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
}

header{
    height: 9vh;
    width: 100%;
    background-color: rgb(133, 34, 34);
    color: white;
    text-align: center;
    padding: 1.5rem;
    display: block;
    position: fixed;
}

header h1{
    font-size: 3rem;
    color: white;
    text-align: center;
}

.menu-itens-carrinho{
    margin: 8rem auto;
    width: 100%;
    padding: 0 2%;
    height: 9vh;
    background-color: rgb(133, 34, 34);
    color: white;
    text-align: center;
    display: block;
}

.menu-itens-carrinho h1{
    padding: 2rem;
    font-size: 3rem;
    color: white;
}

footer{
    margin-top: 2rem;
    height: 9vh;
    background-color: rgb(133, 34, 34);
    text-align: center;
    padding: 1.5rem;
}

footer h1 a{
    font-size: 3rem;
    color: white;
    text-decoration: none;
}

.fixarRodape {
    bottom: 0; 
    position: fixed;
    width: 100%;
    text-align: center;
}

#produtos{
    margin: 8rem auto;
    display: flex;
    height: 15rem;
}

#produtos .produto-single{
    width: 50%;
    padding: 0 2rem;
}

#produtos .produto-single img{
    max-width: 100%;
}

#produtos .produto-single a{
    margin-top: 1rem;
    display: block;
    width: 100%;
    padding: 1rem;
    color: white;
    text-align: center;
    background-color: rgb(23, 73, 88);
    font-size: 1rem;
    text-decoration: none;
}

#produtos .produto-single p{
    margin-top: 1rem;
    display: block;
    width: 100%;
    padding: 1rem;
    color:black;
    font-size: 1rem;
    text-decoration: none;
}

#carrinho{
    margin: 8rem auto;
    width: 50%;
    text-align: center;
    font: 0.5rem;
    border: 0.2rem dotted;
    display: block;
}

#carrinho p{
    font-size: 1.5rem;
    padding: 1.5rem;
    color: black;
}